@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* CUSTOM CLASSES */

.mydiv {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 100px;
    width: 83.5%;
    margin-left: auto;
}

/* BRAND GRADIENT COLOR ANIMATION */
.theta-gradient {
   background-image: linear-gradient(to bottom right, #4d9af3, #93c5fd, #93f1e1, #6ee7b7);
   -webkit-background-clip: text;
   background-clip: text;
   background-size: 300%;
   background-position: -100%;
   color: transparent;
   font-weight: 700;

   animation: animatedTheta 2s infinite alternate-reverse;
}

@keyframes animatedTheta {
    from {
        background-position: 0%;
    }
    to {
        background-position: 100%;
    }
}


/* TEXT */
.title {
    @apply text-3xl font-black font-playfair text-white;
}

.subtitle {
    font-weight: bolder;

    @apply text-lg font-lora text-white mt-3 mb-14;
}


/* MOBILE BOTTOM MENU */
.mobile-menu-container {
    position: fixed;
    bottom: 0%;
    width: 100%;
    z-index: 200000;
}

.mobile-menu {
    color: white;
    display: flex;
    font-weight: 900;
    margin: auto;
    padding: 1rem 0rem;
    height: 75px;
    width: 100%;
}

.mobile-menu-line {
    height: 100%;
    width: 2px;
}


/* NAV */
.nav {
    position: fixed;
    z-index: 100000;
}

.nav-link {
    background: linear-gradient(to bottom right, #ffffff, #ffffff);
    background-clip: text;
    color: transparent;  
    display: inline-block;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to bottom right, #ffffff, #ffffff);
    border-image-slice: 1;
    
    @apply text-lg font-lora font-bold text-center mt-4 lg:h-8;
}

.nav-link:hover {
    background: linear-gradient(to bottom right, #93c5fd, #6ee7b7);
    background-clip: text;
    color: transparent;  
    border-image: linear-gradient(to bottom right, #93c5fd, #6ee7b7);
    border-image-slice: 1;
}


/*SECTIONS*/
.section-container {
    @apply flex flex-col;
}

.section {
    width: 90%;

    @apply flex flex-col justify-center items-center mt-16 mx-auto;
}


/* SKILLS SECTION */
.card {
    @apply bg-white border-2 border-opacity-75 border-gray-200 py-2 px-2 rounded-full lg:p-4;
}

.card-content {
    @apply flex justify-center items-center mx-auto my-auto text-3xl h-8 w-8 sm:text-4xl sm:h-10 sm:w-10 md:h-16 md:w-16 md:text-5xl lg:w-20 lg:h-20 lg:text-7xl; 
}

.button {
    @apply font-lora text-lg font-black rounded-md px-4 py-2 sm:text-xl;
}

.brand-button {
    @apply text-white border border-white bg-gradient-to-br from-blue-300 to-green-300;
}

/* PROJECTS */
.projects > div:nth-child(even) {
    margin-top: 32px;
}

/*CERTIFICATES*/
.certificates-container {
    align-items: start;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
}

.certificate {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.certificate-img {
    display: flex;
}