/*CERTIFICATES*/
.certificates-container {
    max-width: 860px;
    @apply flex mx-auto flex-wrap justify-around;
}

.certificates-container > .certificate:not(:first-child) {
    @apply mt-8 xl:mt-12;
  }
  
.certificates-container > .certificate:first-child {
    @apply mt-8 xl:mt-12;
}

.certificate {
    @apply mt-8;
}

.certificate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 320px;
}

.certificate-img {
    box-shadow: var(--shadow-default);
    display: flex;
}

.certificate-img:hover {
    box-shadow: var(--shadow-active);
}