
.message-container {
    background-color: var(--brand-color-c);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-default);

    @apply flex flex-col w-8/12 mx-auto mt-5 p-6 text-white font-black font-lora;
}

.message-container:hover {
    box-shadow: var(--shadow-active);
}

.message-top {
    
    @apply flex justify-between;
}

.message-title {
    @apply text-xl;
}

.message-from {
    @apply text-lg;
}

.message-content {
    @apply flex flex-col text-lg mt-3;
}

.delete-message-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    background: linear-gradient(to bottom right, var(--brand-color-a), var(--brand-color-b));
}

.delete-message-btn:hover {
   background: linear-gradient(to bottom right, rgb(31, 41, 55), rgb(31, 41, 55));
}