
/* MOBILE BOTTOM MENU */
.mobile-menu-container {
    position: fixed;
    bottom: 0%;
    width: 100%;
    z-index: 200000;
}

.mobile-menu {
    color: white;
    display: flex;
    font-weight: 900;
    margin: auto;
    padding: 1rem 0rem;
    height: 75px;
    width: 100%;
}

.mobile-menu-line {
    height: 100%;
    width: 2px;
}
